<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board02.mapper.BookingMapper">


	<insert id="bookingDo">
		insert into box_booking(
		BOOKINGID,USERID,BOOKDATE, BOOKNAME)
		values(box_booking_seq.nextval,#{userId},#{bookDate}, #{bookname})
	</insert>
	
	<select id="bookingInfo" resultType="booking">
		SELECT *
		FROM BOX_BOOKING
		WHERE USERID = #{userId}
	</select>
	<select id="selectId" resultType="string">
		SELECT BOOkDATE
		  FROM BOX_BOOKING
		 WHERE USERID = #{userId}
	</select>
	
	<delete id="bookingdelete">
		delete from box_booking where USERID = #{userId}
	</delete>
	
</mapper>








