<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board02.mapper.BookingMapper">


	<insert id="bookingDo">
		insert into box_booking(
		booking_id,buser_id,booking_date, booking_name)
		values(box_booking_seq.nextval,#{userId},#{bookDate}, #{name})
	</insert>
	
	<select id="bookingInfo" resultType="booking">
		SELECT *
		FROM BOX_BOOKING
		WHERE BUSER_ID = #{userId}
</select>

	
</mapper>








